/*Campos*/

input:not([type=checkbox]) {
	padding: 5px 10px;
	border:1px solid rgba(0,0,0,.2);
	width: 100%;
	position: relative;
	margin-top: 5PX;
	
}

input:hover {
	border:1px solid rgba(0,0,0,.4);
}

input[type=checkbox] {
	padding-left: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 10px;
	margin-left: 50px;
}

.corpo input[type=checkbox]:first-child {
	margin-left: 0;
}

label {
	
	margin-left: 0;
	float: left;
}


button,
input[type=button],
.btn {
	padding: 6px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.1);
	cursor: pointer;
	text-decoration: none;
}

.btn {
	margin: 0;
	color: #000;
}

.btn.btn-padrao {
	background-color: #5584FF;
	color:#fff;
}

/*Campos*/