
/*Janelas*/

.janela {
	position: relative;
	background-color: #fff;
	border-radius: 1px;
	box-shadow: $sombraPadrao;

	header,
	header.titulo {
		background-color: $backgroudColorTitulo;
		width: 100%;
		padding: 5px 10px;
		box-sizing: border-box;
		/*border-bottom: 1px solid rgba( 246, 246, 251, .7);*/
		border-bottom: 1px solid #e0e0e0;
		display: inline-block;
		line-height: 24px;
		text-align: left;
		position: relative;
	

		.controle {
			display: inline-block;
			padding-right: 5px;
			padding-left: 5px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin-right: 5px;
			margin-left: 5px;
			vertical-align: middle;

			&.left {
				float: left;
			}

			&.right {
				float: right;
			}
		}
	}
	
	.corpo,
	.rodape {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;	
		display: inline-block;
		line-height: 24px;
	}
	
	.rodape {
		border-top: 1px solid #e0e0e0;
		text-align: left;
	}
}

/*Janelas*/