
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
}

body {
	/*background-image: url(../imagens/background-tile.png);*/
	/*background-color: #4285F4;*/
	background-color: #55ACEE;
}


/*Container*/
.container{
	position: relative;
	margin: auto auto;
}
/*Container*/

/*Janelas*/

.janela {
	position: relative;
	background-color: #fff;
	border-radius: 1px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
}

.janela header,
.janela header.titulo {
	background-color: rgb(249,249,252);
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	/*border-bottom: 1px solid rgba( 246, 246, 251, .7);*/
	border-bottom: 1px solid #e0e0e0;
	display: inline-block;
	line-height: 24px;
	text-align: left;
}



.janela .corpo,
.janela .rodape {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;	
	display: inline-block;
	line-height: 24px;
}

.janela .rodape {
	border-top: 1px solid #e0e0e0;
	text-align: left;
}

/*Janelas*/


/*Cards*/
.card {
	position: relative;
	display: inline-block;
	vertical-align: top;
	border-radius: 1px;
}

.card.card-menu {
	padding: 0px 10px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
}

.card-opcoes {
	display: none;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border: none;
	border-radius: 1px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
}

.card-opcoes a {
	text-decoration: none;
	color: #000;
	padding: 5px 10px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.card-opcoes hr {
	margin-left: -5px;
	margin-right: -5px;
	border:1px solid #e0e0e0;
	border-bottom: none;
}


.card header,
.card .titulo {
	background-color: rgb(249,249,252);
	display: inline-block;
	width: 100%;
	padding: 6px 12px;
	box-sizing: border-box;
	border-bottom: 1px solid #e0e0e0;
	line-height: 28px;
	text-align: left;
	left: 0;
	right: 0;
}

.card .corpo {
	padding: 10px;
}



/*Cards*/


/*Campos*/

input {
	padding: 5px 10px;
	border:1px solid rgba(0,0,0,.2);
	width: 100%;
	position: relative;
	margin-top: 5PX;
	
}

input:hover {
	border:1px solid rgba(0,0,0,.4);
}

label {
	
	margin-left: 0;
	float: left;
}


button,
input[type=button] {
	padding: 6px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.1);
}

.btn {
	margin: 0;
}

.btn.btn-padrao {
	background-color: #5584FF;
	color:#fff;
}

/*Campos*/


/*Row*/
.row {
	margin-left: 0;
	margin-right: 0;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 10px;
}

.row:before, 
.row:after {
	content: " ";
	padding: 10px;
	clear: both;
	display: block;
}
/*Row*/

/*Animacao*/

.anim-input, 
.anim-input:hover {
	-webkit-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
/*Animacao*/

/*Help*/
.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

/*Help*/

.login {
	width: 320px;
	margin: 10% auto;
}
