
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
}

body {
	background-image: url(../imagens/background-tile.png);
	background-color: #4285F4;
}


/*Container*/
.container{
	position: relative;
	margin: auto auto;
}
/*Container*/

/*Janelas*/

.janela {
	position: relative;	
	background-color: #E9F0F5;
	border-radius: 1px;
	box-shadow: 1px 1px rgba( 236, 239, 245, 0.4 );
}

.janela header,
.janela header.titulo {
	background-color: rgb(249,249,252);
	width: 100%;	
	padding: 5px 8px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba( 246, 246, 251, .7);
	display: inline-block;
}

.janela .corpo,
.janela .rodape {
	padding: 10px;
	box-sizing: border-box;
}

/*Janelas*/


/*Campos*/

input {
	padding: 5px 10px;
	border:1px solid rgba(0,0,0,.2);
	width: 100%;
	position: relative;
	margin-top: 5PX;
	
}

input:hover {
	border:1px solid rgba(0,0,0,.4);
}

label {
	
	margin-left: 0;
	float: left;
}


button,
input[type=button] {
	padding: 6px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.1);	
}

.btn {
	margin: 0;
}

.btn.btn-padrao {
	background-color: #5584FF;
	color:#fff;
}

/*Campos*/


/*Row*/
.row {
	margin-left: 0;
	margin-right: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
}

/*.row:before, 
.row:after {
	content: " ";
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/
/*Row*/

/*Animacao*/

.anim-input, 
.anim-input:hover {
	-webkit-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
/*Animacao*/

/*Help*/
.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

/*Help*/

.login {
	width: 320px;
	margin: 10% auto;
}